body{
    height: 100dvh;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.boxgame{
    position: relative;
    overflow: hidden;
    width: 600px;
    height: 300px;
}

.road{
    position: absolute;
    left: 0;
    bottom: 0;
}

.plane{
    position: absolute;
    left: 80px;
    bottom: 50px;
}

.boxtown{
    position: absolute;
    width: 100%;
    height: 100%;
}